.home{
    $warp_center_width:1100px;

    .g-topbar{
        position: relative;
        width: 100%;
        height: 104px;//70+34;
        .m-top{
            background: #242424;
            height: 70px;
            .wrap{
                width: $warp_center_width;
                margin: 0 auto;
                height: 100%;
            
                .logo{
                    float: left;
                    width: 176px;
                    height: 69px;
                    margin: 0;
                    background-image: url(../img/topbar.png);
                    background-position: 0 0;
                    background-repeat: none;
                }

                .m-nav{
                    float:left;
                    li{
                        float:left;
                        position: relative;
                        height: 70px;
                        list-style: none;

                        a {
                            float: left;
                            color:#ccc;
                            outline: none;
                            font-size: 14px;
                            padding:0 19px;
                            line-height: 70px;
                            text-decoration: none;
                            sub {
                                background-image: url(../img/topbar.png);
                                background-position: -226px 0;
                                width: 12px;
                                height: 7px;

                                position: absolute;
                                left:50%;
                                top:64px;
                                margin-left:-6px;

                            }

                            sub.show-arrow{
                                display: block;
                            }
                            sub.no-show-arrow{
                                display: none;
                            }
                        }

                        a:hover, a:focus {
                            background:#000;
                            color:#fff;
                            text-decoration: none;
                        }

                        a.selected{
                            background: #000;
                            color: #fff;
                        }
                        .hot{
                            display: block;
                            position: absolute;
                            
                            background-position: -190px 0;
                            background-image:url(../img/topbar.png);
                            width:28px;
                            height: 19px;

                            left:-10px;
                            top:20px;

                        }

                        
                    }

                }
                //登录
                .m-tophead{
                    float: right;
                    height: 45px;
                    margin: 19px 0 0 20px; 
                    padding: 0 22px 0 0;
                    background-image: url(../img/topbar.png);
                    background-position: 100% -47px;
                    a {
                        width: 28px;
                        margin-top:7px;
                        display: block;
                        
                        color:#787878;
                        text-decoration: none;
                    }
                }

                
                .m-topvd{
                    float: right;
                    width:90px;
                    margin: 19px 0 0 12px;
                    padding-left:16px;
                    border:1px solid #4f4f4f;
                    line-height: 33px;
                    color:#ccc;
                    border-radius: 20px;
                    text-decoration: none;
                }
                .m-topvd:hover {
                    color:#fff;
                    border:1px solid #ccc;
                }

                .srchbg{
                    float: right;
                    margin-top:19px;
                    background-color: #fff;
                    border-radius: 32px;
                    width: 158px;
                    height: 32px;
                    
                    i {
                        background-image: url(../img/topbar.png);
                        background-position: 0 -99px;
                        float:left;
                        width:32px;
                        height: 32px;
                    }

                    input {
                        float: left;
                        color:#333;
                        line-height: 16px;
                        width:100px;
                        border:0;
                        margin: 10px auto;
                    }

                    input:focus{
                        outline:none;
                    }

                }
            }
        }
        .m_subnav{
            position: relative;
            height: 35px;
            background:#c20c0c;
            width: 100%;
            .wrap{
                width: $warp_center_width;
                margin:0 auto;

                ul{
                    padding-left: 180px;
                    li{
                        list-style: none;
                        float: left;
                        height: 34px;
                        text-align: center;

                        a{
                            float: left;
                            height: 20px;
                            padding: 0 13px;
                            margin: 7px 17px 0;
                            border-radius: 20px;
                            line-height: 21px;
                            color:white;
                            text-decoration: none;
                        }
                        a:hover{
                            background:#9b0909;
                        }
                    }
                }
            }


        }
    }

}

.f-cb::after{
    clear:both;
    content: ".";
    display: block;
    visibility: hidden;
}