.home {
  .main-content {
    .discover {
      a {
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
      .wrap {
        $W: 982px;
        width: $W;
        min-height: 600px;
        box-sizing: border-box;
        margin: 0 auto;
        border: 1px solid #d3d3d3;
        border-width: 0 1px;
        .container {
          width: 688px;
          float: left;
          padding: 20px 20px 40px 20px;
          // margin-right:251px;
          .head {
            height: 33px;
            padding-left: 34px;
            border-bottom: 2px solid #c10d0c;
            background-image: url("../../img/index.png");
            background-position: -225px -156px;
            background-repeat: no-repeat;

            a {
              color: #333;
            }

            .tit {
              float: left;
              font-size: 20px;
              font-weight: normal;
              line-height: 28px;
              text-decoration: none;
            }
            .tab {
              float: left;
              margin: 7px 0 0 20px;
              font-size: 12px;

              .v-line {
                margin: 0 10px;
              }

              .v-line:after {
                content: "";
                height: 100%;
                border-left: 2px solid #ccc;
              }
            }

            .more {
              float: right;
              font-size: 12px;
              a {
                float: left;
              }
              i {
                float: right;
                background-image: url("../../img/index.png");
                background-position: 0 -240px;
                width: 12px;
                height: 12px;
                margin: 2px 4px 0 0;

                display: block;
              }
            }
          }
          .list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-content: space-around;
            margin-right: -20px;
            margin-top: 20px;
            .item {
              padding-right: 20px;

              .cover {
                position: relative;
                .bottom {
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  width: 100%;

                  background-color: rgba(0, 0, 0, 0.3);
                  color: #ccc;
                  .icon-headset {
                    float: left;
                    width: 14px;
                    height: 11px;
                    background-image: url("../../img/iconall.png");
                    background-position: 0 -24px;
                    margin: 9px 5px 9px 10px;
                  }
                  .nb {
                    float: left;
                    margin-top: 7px;
                  }

                  a {
                    float: right;
                    margin-top: 7px;
                    background-image: url("../../img/iconall.png");
                    background-position: 0 0;
                    width: 16px;
                    height: 17px;
                  }
                  a:hover {
                    background-position: 0 -60px;
                  }
                }
              }
              p {
                width: 138px;
                a {
                  text-decoration: none;
                  color: black;
                }
                a:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }
        .right-panel {
          width: 251px;
          float: right;
          font-size: 12px;

          border: 1px solid #3333;
          padding: 0;
          box-sizing: border-box;
          .my-info {
            height: 126px;
            padding-top: 0;
            color: #666;
            background-image: url(../../img/index.png);
            background-position: 0 0;
            background-repeat: no-repeat;

            .note {
              width: 205px;
              margin: 0 auto;
              padding: 16px 0;
              // line-height: 22px;
            }

            button {
              display: block;
              width: 103px;
              height: 32px;
              margin: 0 auto;

              background-position: 0 -195px;
              background-image: url(../../img/index.png);
              background-repeat: no-repeat;
              border-width: 0;
              color: white;
              line-height: 31px;
              text-shadow: 0 1px 0 #8a060b;
              padding: 0;
            }
          }
          .singer {
            margin-top: 15px;
            .head {
              height: 23px;
              margin: 0 20px;
              border-bottom: 1px solid #ccc;
              border-bottom: 1px solid #ccc;
              font-size: 12px;
              span {
                float: left;
                color: #333;
              }
              a {
                float: right;
                text-decoration: none;
                color: #333;
              }
            }
          }
          ul {
            margin: 6px 0 14px 20px;
            list-style: none;

            a {
              //all a tag under this ul
              text-decoration: none;
              color: #333;
            }

            li {
              margin-top: 14px;
              width: 210px;
              height: 62px;

              a {
                float: left;
                background: #fafafa;
                .head {
                  float: left;
                  width: 62px;
                  height: 62px;
                  img {
                    float: left;
                    width: 62px;
                    height: 62px;
                  }
                }

                .ifo {
                  float: left;
                  width: 133px;
                  height: 60px;
                  padding-left: 14px;
                  border: 1px solid #e9e9e9;
                  border-left: none;
                  h4,p{
                    margin-top: 8px;
                  }
                  h4 span,p {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                  }
                }
              }
              a:hover {
                background: #f4f4f4;
              }
            }
          }
          .button{
            display:block;
            $CW:198px; //content width
            width: $CW;
            padding-right:5px;
            margin:0 auto;
            // border-radius: 4px;
            // border:0px solid #e3e3e3;
            border:0;
            background-image: url(../../img/button2.png);
            background-position: right -100px;
            background-repeat: no-repeat;
            i{
              display: block;
              width: $CW;
              height: 31px;
              text-align: center;
              line-height: 31px;
              background-image: url(../../img/button2.png);
              background-position: 0 -59px;
              background-repeat: no-repeat;
              font-weight: bold;
            }
          }
          .button:hover{
            background-position: right -182px;
          }
          .button:hover i{
            background-position: 0 -141px;
          }

          .dj{
            margin-top: 30px;
            h3{
              height: 23px;
              margin: 0 20px;
              border-bottom: 1px solid #ccc;
              color: #333;
            }
          }
        }
      }
    }
  }
}
