@import './font.scss';

.login-box{
   font-size:$x-large;
   position: absolute;
   top:10%;
   right:10%;
   width: 80%;
   height: 80%;
   border: 1px solid black;
   
   .login-content{
        position: absolute;
    
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
    }

    a {
        text-decoration: none;
        color:blue;
    }

    .selected {
       background-color:palegreen;
       color: black;
    }

    a.float-right{
        float: right;
        color: darkblue;
    }
}



  